* {
    text-decoration: none;
    list-style-type: none;
}

body {
    background: linear-gradient(to bottom, #000000, #111111) no-repeat center center fixed;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

.underline {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
}

#icon {
    height: 6rem;
    width: 6rem;
}

header nav ul {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    gap: 15px;
}

header nav ul li {
    align-content: center;
    height: 50%;
}

header nav ul :hover {
    background-color: dimgray;
    transform: rotate(6deg) scale(1.1);
    transition: background-color 0.25s, transform 0.5s;
}


/*Some Rewrite from EVAL_V2*/
img {
    border-radius: 0.15rem;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

/*flex top to bottom*/
.column {
    flex-direction: column;
}

.btn {
    background-color: darkslategrey;
    border-radius: 0.25rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s, transform 0.5s;
}

.btn a {
    border-radius: 0.25rem;
    height: 100%;
    width: 100%;
}

.btn a {
    color: white;
    position: relative;
    padding: 1rem;
}

.flex {
    display: flex;
}

.center {
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.pad-lr-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mar-2 {
    margin: 2rem;
}


.rounded-sm {
    border-radius: 0.25rem;
}

.mar-tb-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*End of the rewrite*/

#presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: auto;
}


#presentation img {
    height: 20rem;
}

/*after as a background of the article, it should be 1rem bigger than the article tag*/
#presentation .indexpresent {
    background-color: #212121;
    padding: 1rem;
    margin: 1rem;
    width: 50%;
    height: 100%;
    border-radius: 0.25rem;
}

#presentation ul {
    display: flex;
    justify-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

#presentation ul li {
    position: relative;
    height: 1.5rem;
    width: 100%;
}

#presentation ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #212121;
    outline: 3px solid white;
    box-sizing: border-box;
    border-radius: 0.25rem;
    height: 100%;
    width: 100%;
}

#presentation ul li :hover {
    background-color: white;
    color: black;
    transform: scale(1.05) ;
    transition: background-color 0.5s, color 0.5s, transform 0.5s;
}


.articles {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 70%;
    height: 100%;
    margin: auto;
}

.size-half {
    width: 50%;
}

.articles > a {
    background-color: #212121;
    padding: 1rem;
    margin: 1rem;
    width: 30%;
    height: 100%;
    border-radius: 0.25rem;
}

.articles > article {
    background-color: #212121;
    padding: 1rem;
    margin: 1rem;
    width: 30%;
    height: 100%;
    border-radius: 0.25rem;
}


.articles-grow > :hover {
    background-color: #323232;
    transform: scale(1.05) translateY(-0.5rem);
    transition: background-color 1s, transform 0.5s;
}

.articles > a > ul {
    display: flex;
    justify-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.articles > a > ul > li {
    background-color: white;
    color: black;
    border-radius: 1rem;
    height: 1.5rem;
}

.articles > a > ul > li p {
    margin: 0;
}

.articles > article ul {
    display: flex;
    justify-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    gap: 0.5rem;
}

.articles > article ul li {
    background-color: white;
    color: black;
    border-radius: 0.25rem;
    height: 1.5rem;
}

.articles > article ul li p {
    margin: 0;
}

.contactFirstImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: auto;
}

/*"ZAMN!" STYLE ANIMATION*/
.contactFirstImg::before {
    content: "ZAMN!";
    font-weight: bolder;
    font-size: xx-large;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.contactFirstImg::after {
    content: "ZAMN!";
    font-weight: bolder;
    font-size: xx-large;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.contactFirstImg:hover::before {
    opacity: 1;
    transform: translateX(20rem) translateY(1rem) rotate(720deg);
    transition: opacity 0.5s, transform 0.5s;
}

.contactFirstImg:hover::after {
    opacity: 1;
    transform: translateX(-12rem) translateY(1rem) rotate(-720deg);
    transition: opacity 0.5s, transform 0.5s;
}
/*END*/

.contactFirstImg :hover {
    transform: rotate(380deg) scale(1.2);
    transition: background-color 1s, transform 0.5s;
}
.bg-darkgray {
    background: #212121;
}

.contactFormContainer {
    padding: 1rem;
    display: flex;
    margin: auto;
    width: 40%;
    height: 100%;
    border-radius: 0.25rem;
}

.contactForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: auto;
}

.contactForm form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    gap: 2rem;
}

.contactForm form label {
    margin-bottom: -2rem;
}

.contactForm form button {
    background-color: firebrick;
    border-radius: 0.25rem;
    color: white;
    height: 2rem;
    margin: 0.5rem;
    border: none;
}

.contactForm form input {
    border-radius: 0.25rem;
    height: 2rem;
    margin: 0.5rem;
    border: none;
}

.contactForm form textarea {
    border-radius: 0.25rem;
    height: 5rem;
    width: 100%;
    margin: 0.5rem;
}

.size-full {
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
}



/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        flex-direction: column;
        gap: 20px;
    }

    .btn {
        padding: 1rem;
    }

    #presentation {
        flex-direction: column;
        width: 90%;
    }

    #presentation img {
        width: 100%;
        height: auto;
    }

    #presentation .indexpresent {
        width: 100%;
    }

    .articles {
        flex-direction: column;
    }

    .articles > article {
        width: 120%;
        margin: 0.5rem 0;
    }

    .articles > a {
        width: 90%;
        margin: 0.5rem 0;
    }

    .contactFormContainer {
        width: 90%;
    }

    .contactForm {
        flex-direction: column;
        width: 100%;
    }

    .contactForm form {
        flex-direction: column;
        gap: 1rem;
    }

    .contactForm form label {
        margin-bottom: -1rem;
    }

    .contactForm form button {
        width: 100%;
    }
}

/*DESK*/
@media screen and (min-width: 768px) {
    .desk-pad-2 {
        padding: 2rem;
    }
}